
.box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Example animations */
.box.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.box.slide-up {
    opacity: 1;
    transform: translateY(0);
}

.box.zoom-in {
    opacity: 1;
    transform: scale(1);
}



/*----------------------------------------*/

.box1 {
    opacity: 0;
    transform: scale(0.8);
    /* Initial scale */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.box1.zoom-in {
    opacity: 1;
    transform: scale(1);
    /* Final scale */
}

/*------------------------------*/


.introductionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    font-family: "bree serif";
}

.about {
    font-family: "roboto";
    font-size: 18px;
    color: black;
}

.navbarContainer2 {
    display: none;
}

.socialmediaApps {
    display: flex;
    justify-content: space-between;
}

.socialmediaApp {
    display: none;
}

.socialmediaApps2 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.whatIdoContainer {
    background-color: #f0f1f7;
    background-size: cover;
    border-radius: 10px;
}

.icons {
    font-size: 50px;
}

.crazyDeveloper {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
}

.profession {
    font-family: Gill sans, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.myProffesion {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.proffesionName {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: "bree serif";
    letter-spacing: 1.5px;
}

.skill {
    width: 100%;
    margin: 60px auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, 0.8, 0.25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0252), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.frontend {
    width: 100%;
    animation: frontend 3s;
}

.backend {
    width: 70%;
    animation: backend 3s;
}

.programming {
    width: 90%;
    animation: programming 3s;
}

@keyframes frontend {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes backend {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes programming {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.profficinecyContainer {
    display: flex;
    flex-direction: column;
}

.imageProf {
    display: none;
}

.openSourceProjects {
    display: flex;
    flex-direction: column;
}

.projectCard {
    background-color: #ffffff;
    background-size: cover;
}

.projectLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.opensourceHeading {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: "Bree serif";
}

.bigProject {
    display: flex;
    flex-direction: column;
}

.data {
    position: relative;
}

.layer {
    width: 100%;
    height: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    color: white;
    transition: height 0.5s;
}

.headingDataAnalysis {
    font-size: 20px;
    font-family: 'Bree serif';
    font-weight: bold;
}

.paraDataAnalysis {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.data:hover .layer {
    height: 100%;
}

.data1 {
    position: relative;
}

.layer1 {
    width: 100%;
    height: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #0c1ff0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    color: white;
    transition: height 0.5s;
}

.layer1 a {
    margin-top: 20px;
    color: #0c1ff0;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.data1:hover .layer1 {
    height: 100%;
}

.achivementCards {
    display: flex;
    flex-direction: column;
}

.imageCertificate {
    width: 100%;
}

.headingAchievement {
    font-size: 30px;
    font-weight: bold;
    font-family: "bree serif";
}

.paraAchievement {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
}

.internshipHeading {
    font-size: 30px;
    font-weight: bold;
    font-family: "bree serif";
}

.internshipList li {
    list-style-type: none;
}

.listItem {
    display: flex;
    flex-direction: row;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    background-color: #1b1c1c;
    background-size: cover;
}

.common {
    width: 100%;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.2s ease;
    color: #ffffff;
    font-family: "Roboto";
}

.nameInput:hover,
.nameInput:focus {
    background: rgba(255, 255, 255, 0.25);
}

.emailInput:hover,
.emailInput:focus {
    background: rgba(255, 255, 255, 0.25);
}

.messageInput:hover,
.messageInput:focus {
    background: rgba(255, 255, 255, 0.25);
}

.internshipItems {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width:768px) {
    .navbarContainer1 {
        display: none;
    }

    .navbarContainer2 {
        display: block;
    }

    .introductionContainer {
        display: flex;
        flex-direction: row;
    }

    .introduction {
        margin-right: 100px;
    }

    .heading {
        font-size: 50px;
        padding-bottom: 25px;
    }

    .about {
        font-size: 20px;
    }

    .image1 {
        width: 400px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    nav ul li {
        display: inline-block;
        list-style-type: none;
        margin: 10px 20px;
    }

    nav ul li a {
        color: black;
        font-size: 18px;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav ul li a:hover::after {
        width: 100%;
    }

    .socialmediaApps1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 330px;
        font-size: 30px;
    }

    .socialmediaMobile {
        display: none;
    }

    .button {
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        font-size: 20px;
        font-family: "bree serif";
        font-weight: 100;
        letter-spacing: 3px;
    }

    .myProffesion {
        font-size: 40px;

    }

    .proffesionName {
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        font-family: "bree serif";
        letter-spacing: 3px;
    }

    .skill {
        width: 500px;
    }

    .profficinecyContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .imageProf {
        display: block;
        width: 50%;
        border-radius: 20px;
        margin-left: 20px;
    }

    .openSourceProjects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projectCard {
        width: 48.5%;
    }

    .opensourceHeading {
        font-size: 40px;
        text-align: center;
        padding-bottom: 20px;
    }

    .bigProjectContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bigProject {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .data {
        max-width: 500px;
    }

    .dataAnalystProject {
        order: 1;
        padding-left: 20px;
        margin-left: 20px;
    }

    .headingDataAnalysis {
        font-size: 30px;
        font-family: 'Bree serif';
        font-weight: bold;
    }

    .paraDataAnalysis {
        font-size: 18px;
        font-family: 'Roboto';
        font-weight: 500;
    }

    .data1 {
        max-width: 350px;
    }

    .achivementCards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .imageCertificate {
        height: 220px;
    }

    .socialmediaApp {
        display: block;
    }

    .content_container {
        padding-top: 500px;
    }

    .contactContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contactForm {
        min-width: 400px;
    }

    .reachOut {
        max-width: 500px;
        margin-right: 50px;
    }

    .socialmediaPc {
        max-width: 300px;
    }

    .internshipItems {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imageCodsoft {
        min-width: 400px;
    }


}